@page "/"
<div class="d-flex flex-row">
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/202.gif" class="px-4" />
    </div>
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/649.gif" class="px-4" />
    </div>
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/333.gif" class="px-4" />
    </div>
</div>
<div class="d-flex flex-row">
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/25.gif" class="px-4" />
    </div>
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/649.gif" class="px-4" />
    </div>
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/333.gif" class="px-4" />
    </div>
</div>
<div class="d-flex flex-row mt-3">
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/202.gif" class="px-4" />
    </div>
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/649.gif" class="px-4" />
    </div>
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/333.gif" class="px-4" />
    </div>
</div>
<div class="d-flex flex-row">
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/202.gif" class="px-4" />
    </div>
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/649.gif" class="px-4" />
    </div>
    <div class="d-flex align-items-end">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-v/black-white/animated/333.gif" class="px-4" />
    </div>
</div>